{% extends "layout.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='./styles/home.css')}}">
</head>

<main>
    <div class="container">
        <h1>Carbon App</h1>
        <p>Calculate your carbon footprint and learn how to reduce it!</p>
        <a href="{{url_for('calculator')}}" class="btn btn-primary">Calculate</a>
    </div>
</main>
<div class="container">
    <section class="content">
        <h2>Why should you care?</h2>
        <p>Climate change is a global issue that affects everyone. By reducing your carbon footprint, you can help
            mitigate the effects of climate change and create a more sustainable future for all.</p>
    </section>
</div>


{% endblock content %}