{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./styles/methodology.css')}}">
  </head>

<header>
    <h1>Carbon Footprint App</h1>
  </header>

    <h1>Our Methodology</h1>
    <a href="{{url_for('methodology.download')}}" class="btn btn-primary">Download our paper!</a><br>
    <div class="grid">
    
      <div class="box full-width">
        
        <h2>Understanding Carbon Footprints</h2>
        <p>We calculate carbon emissions by considering factors like fuel type, distance, and energy efficiency, using established formulas that comply with Euro Emissions Standards. In a world increasingly focused on environmental sustainability, understanding and mitigating our carbon footprint is essential. Here, we outline the methodologies behind our calculations, providing transparency and insight into how we measure carbon emissions. Our data sources include the Michelin Website, Chalmers University, Vy and Future in Our Hands.</p>
        <p>Our app follows a Freemium Model, offering basic features for free and advanced features via subscription. We welcome partnerships to enhance our services and promote sustainable transportation. Subscriptions provide access to premium features like detailed emission reports and personalized recommendations.</p>
      </div>
  
      <div class="box">
        <h2>Our Methodology</h2>
        <p>The General Formula:<br>
        CO2 = d*(fe/p)<br>
        <strong>fe</strong>: emission factor in CO2/km<br>
        <strong>d</strong>: distance<br>
        <strong>p</strong>: number of passengers</p>
      </div>
  
      <div class="box">
        <h2>Cars</h2>
        <p>Emission factors by fuel type (kg CO2/km):<br>
        Gasoline: 0.0384<br>
        Diesel: 0.0342<br>
        Hybrid: 0.0298<br>
        Electric: 0.0106<br>
        Hydrogen: 0</p>
      </div>
  
      <div class="box">
        <h2>Buses</h2>
        <p>In Norway, bus transport is run collaboratively with data sourced from Vy.<br><br>
        Non-renewable energy:<br>
        Diesel: 27 g CO2/km<br>
        Biodiesel: 14 g CO2/km<br><br>
        Renewable energy:<br>
        Electric: 13 g CO2/km</p>
      </div>
  
      <div class="box">
        <h2>Airplanes</h2>
        <p>Domestic (< 600 km): 244 gCO2/km<br>
        Short haul (600–3700 km): 156 gCO2/km<br>
        Long haul (> 3700 km): 190 gCO2/km</p>
      </div>
  
      <div class="box">
        <h2>Trains</h2>
        <p>Based on VY’s 2023 report:<br>
        Electric trains: 10 g CO2/km<br>
        Diesel trains: 91 g CO2/km</p>
      </div>
  
      <div class="box">
        <h2>Motorbike & E-bike</h2>
        <p>Motorbike emissions (kg CO2/km):<br>
        ≤125cc: 0.0415<br>
        125cc–500cc: 0.0505<br>
        >500cc: 0</p>
      </div>
  
      <div class="box">
        <h2>8. Walk</h2>
        <p>Walking and e-biking produce zero emissions – the greenest options!</p>
      </div>
    </div>




{% endblock content %}
